
@keyframes up-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 1.5em; }
    100% { padding-top: 2em; }
  }
  @keyframes down-bump {
    0% { padding-top: 2em; }
    50% { padding-top: 2.5em; }
    100% { padding-top: 2em; }
  }

.ProjectSection{
    text-align: center;
    h1 {
        font-size: 5vmin;
        font-family: "Exo 2", sans-serif;
    }
    img{
        width: 100%;
        border-radius: 10%;   
        display: inline-block;
    }
    width: 100vw;
    font-size: 3vmin;
}

.inlineButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    margin-top: 3rem;
}
.CardsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: none
}

.CardContainer{
    border-radius: 20px;
    padding: 1rem;
    width: 90vw;
    height: auto;
    display: grid;
    grid-template-columns: 4fr 3fr;
    align-items: center;
    justify-items: center;
    margin: 2vmin;
    background: linear-gradient(
        white 0%,var(--Spearmint) 50%,var(--Mint) 75%,var(--Teal) 100%,
     );
    
}

.CardContainer :hover{
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

.inlineButtons :hover {
    animation: none;
  }
.description :hover{
    animation: none;
}

